* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--light-color);
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Topbar */
.topbar{position:fixed;
    top:0px;
    z-index: 1001;
    width: 100%;
}
.topbar-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-button .hamburger-line {
    width: 15px;
    height: 4px;
    border-bottom: 3px solid #fff;
    margin-bottom: 1px;
}

/* Main menu */
.navbar {
    padding-top: 45px;
    width: 300px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
}

.navbar .user-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid var(--light-color);
    padding: 25px 20px;
}

.navbar .user-section img {
    clip-path: circle(50%);
    object-fit: cover;
    height: 46px;
}

.navbar .user-section .user-control h2 {
    margin: 0 0 5px 0;
}

.navbar .user-section .user-control ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.navbar .user-section .user-control ul li {
    padding: 10px;
}

.navbar .user-section .user-control ul li:hover {
    background: #ccc;

}

.navbar .dashboard h2 {
    padding: 15px 15px 10px 25px;
    font-weight: 400;

    margin: 10px 0 0 0;
}

.navbar .dashboard ul {
    display: flex;
    flex-direction: column;
}

.navbar .dashboard ul li a {
    padding: 10px 20px;
    width: 100%;
    color: #000;
}

.navbar .dashboard ul li a.active {
    padding: 10px 20px;
    width: 100%;
    background: #2196F3;
    color: #fff;
}

.navbar .dashboard ul li a:hover {
    background: #ccc;
}

.navbar .dashboard ul li i {
    margin-right: 10px;
}

/* Main */
main {
    margin-left: 300px;
    transition: margin 0.5s;
}

main h1{
    font-size: 17px;
    margin-top: 40px;
}

main h1 i{
    margin-right: 5px;
}

/* Jumbotrons */

.jumbotrons .jumbotron-flex {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}

.jumbotrons .jumbotron-flex .jumbotron-card {
    flex-basis: 25%;
    padding: 16px;
    color: white;
}

.jumbotrons .jumbotron-flex .jumbotron-card p:first-child {
    font-size: 48px;
    margin-bottom: 15px;
    display:flex;
}
.jumbotrons .jumbotron-flex .jumbotron-card p span{
    margin-left: auto;
    padding-left:10px;
    font-size: 24px;
}
.jumbotrons .jumbotron-flex .jumbotron-card p:last-child {
    font-size: 20px;
    margin-bottom: 15px;
}

.jumbotrons .jumbotron-flex .jumbotron-card.messages {
    background: #f44336;
    
}
.jumbotrons .jumbotron-flex .jumbotron-card.views {
    background: #2196F3;
    
}
.jumbotrons .jumbotron-flex .jumbotron-card.shares {
    background: #009688;
    
}
.jumbotrons .jumbotron-flex .jumbotron-card.users {
    background: #ff9800;
    
}

/* Maplog */
.maplog .maplog-grid{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
}

.maplog .maplog-grid .maplog-card table{
    width: 100%;
    border:none;
    border-collapse: collapse;
}

.maplog .maplog-grid .maplog-card table tr{
   height: 39px;
}

.maplog .maplog-grid .maplog-card table td{
    padding-left: 12px;
 }
.maplog .maplog-grid .maplog-card table tr:nth-child(odd){
    background: #fff;
}

/* General Stats */
.general-stats ul li .graph-flex {
    text-align: center;
    line-height: 39px;
    display:flex;
    background: #ccc;
}

.general-stats ul li .graph-flex .filled {
    height:39px;

}

.general-stats ul li .graph-flex .empty {
    height:39px;
    flex-basis: auto;
}

/* Countries */

.countries table{
    width: 100%;
    border-collapse: collapse;
    border:1px solid #ccc;
}

.countries table tr{
   height: 39px;
}

.countries table tr:nth-child(odd){
    background: #fff;
}

.countries table tr:hover{
    background:#ccc;
 }

.countries table td{
    padding-left: 12px;
 }

 .countries a.btn{
    background: #616161;
    padding: 10px 19px;
 }

 .countries a.btn:hover{
    background:#ccc;
    color: #000;
 }

 /* Recent Users */
.recent-users .users-list{
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2), 0px 6px 20px rgba(0,0,0,0.1);
}

.recent-users .users-list .users-item{
    padding: 25px;
    border-bottom: 1px solid #ccc;
}

/* Utility Classes*/

/* Containers */
.container-fluid {
    padding: 12px;
}

.container {
    max-width: 900px;
    padding: 12px;
}

.container-sm {
    max-width: 700px;
    padding: 12px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 7px 10px;
    font-weight: normal;
    cursor: pointer;
    border: hidden;
}

.btn-block {
    display: block;
}

/* Colors */
.bg-black {
    background: #000;
    color: #fff;
}

.bg-dark {
    background: var(--dark-color);
    color: #000;
}

.bg-light {
    background: var(--light-color);
    color: #000;
}

/* Text Classes */

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

/* not in use
.text-white {
    color: #fff;
}
.text-black {
    color: #000;
}

.bg-white{
    background: #fff;
}
.bg-black {
    color: #000;
}
*/

/* Margins and Paddings */
.pl-15{padding-left:15px;}
.pt-45{padding-top:45px;}

.mb-15{margin-bottom: 15px;}
.mt-15{margin-top: 15px;}

.mb-20{margin-bottom: 20px;}
.mt-20{margin-top: 20px;}


/* bar-colors */
.bar-green {
    background: #4CAF50;
}

.bar-orange {
    background: #ff9800;
}

.bar-red {
    background: #f44336;
}

/* Media Queries */
@media (max-width: 1000px) {
    .hamburger-button {
        display: block;
    }

    .navbar {
        display: none;
    }

    main {
        margin-left: 0;
    }

}

@media (max-width: 600px){
    main .jumbotrons .jumbotron-flex {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .maplog .maplog-grid{
        grid-template-columns: 1fr; 
    }
}
